# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/src
/public
/node_modules
package-lock.json
package.json
README.md

#don't use jekyll
.nojekyll

#Mac files
.DS_Store
