@media screen and (max-width: 850px) {
    .based-titles {
      left: 0;
    }
    .optional-text {
      display: none;
    }
    .work.right {
      position: static;
      margin: 2vh auto;
      width: 80%
    }
    .work.left {
      position: static;
      margin: 2vh auto;
      width: 80%
    }
    .listless-list {
      font-size: 1.5em;
    }
   
   
  }
  @media screen and (min-width: 860px) {
    .based-titles {
      left: -15%;
    }
    .optional-text {
      display: inline;
    }
    .work.right {
      position: absolute;
      width: 40%;
    }
    .work.left {
      position: absolute;
      width: 40%;
    }
  }