@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  color: #efeeed;
}

.App {
  height: 300vh;
  overflow: hidden;
  background-color: rgb(55 55 55);
}

.title {
  display: inline;
  font-size: 14px;
  margin: 0;
  text-align: left;
  padding-left: 4px;
}
#addition {
  display: none;
}
.react-logo {
  margin-top: 5px;
  height: 45px;
  pointer-events: none;
}
.section-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0%;
  top: 15%;
  min-width: 250px;
  height: 300px;
}


.listless-list {
  list-style-type: none;
  font-size: 20px;
}
li>a {
  display: inline-block;
  margin: 12  px;
  padding: 5px, 5px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #efeeed;
  text-decoration: none;
  

}


.main-stuff {
  text-align: center;
  height:100%;
  /* Specifies that each element’s snap area should
  align with a 100px offset from the top edge. */
  scroll-padding: 100px 0 0;
  /* Encourages scrolling to end at a snap position when the
  operation completes, if it is near a snap position */
  scroll-snap-type: y proximity;
}
.section-containers {
  height: 100vh;
  scroll-snap-align: start;
}
#home {

}
/*   opacity: 0.9; */
/*  background: linear-gradient(to bottom, , 99%, rgb(22, 64, 118, 0)); */
/*   background: linear-gradient(to bottom, rgb(49, 47, 47), 99.5%, rgb(29, 194, 7, 0));*/
/* background: #164076; */
#work {
  background: rgb(22, 64, 118);
}
#life {
  background: #f2b635;
}

.social-links {
  display: inline;
  color: #efeeed;
}
.section-headings {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin: 0px;
  display: inline-block;
  text-align: left;
}
#the-main-man {
  font-size: 40px;
}
.based-titles {
  position: relative;
  top: 30%;
  left: -15%;
  color: #efeeed;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  width: 190px;
  min-width: max-content;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}

#funky-footer {
  position: fixed;
  bottom: 1%;
  left: 45%
}

.normal-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  top: 0%;
  left: 40%;
  font-size: 40px;

}

/* default styles below */
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
