@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Need a system for assigning z-index 
(Determines the order that elements which overlap eachother are displayed on the page )*/
/* 
Z-index (higher index -> element displayed over other elements
Default Z-index (when not assigned) = 0

    My Z-index system: 
    10  -> Highest priority, 
     0  -> Default priority, 
    -1  -> Below all other elements.
 */

html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
.section-containers {
  height: 100vh;
  scroll-snap-align: start;
}

body {
  margin: 0;
  color: #efeeed;
}

.App {
  height: 300vh;
  overflow: hidden;
  background-color: rgb(55 55 55);
}
.top-content {
  height: 15%;
}
.title {
  display: inline;
  font-size: 0.7em;
  margin: 0;
  text-align: left;
  padding-left: 4px;
}
#addition {
  visibility: hidden;
  font-size: 0.5em;
  transition: font-size 0.5s;
}

.react-logo {
  margin-top: 5px;
  height: 45px;
  pointer-events: none; 
}
.section-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0%;
  top: 15%;
  z-index: 6;
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(29, 29, 29, 0.233);
}
.work.right {
  position: absolute;
  right: 0;
  width: 40%;
  padding: 0.25em;
  z-index: 1;
  border-radius: 1em;
  background-color: #385e90;
  margin-right: 0.25em;
}
.work.left {
  position: absolute;
  left: 0;
  width: 40%;
  padding: 0.25em;
  z-index: 1;
  border-radius: 1em;
  background-color: #385e90;
  margin-left: 6em;
}


.listless-list {
  list-style-type: none;
  font-size: 0.8em;
  padding: 0.5em;
}

li>a, li>button {
  display: inline-block;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #efeeed;
  text-decoration: none;
}

#main-stuff-wrapper {
  text-align: center;
}


/* gradient Styling of the sections */

/*   opacity: 0.9; */
/*  background: linear-gradient(to bottom, , 99%, rgb(22, 64, 118, 0)); */
/*   background: linear-gradient(to bottom, rgb(49, 47, 47), 99.5%, rgb(29, 194, 7, 0));*/
/* background: #164076; */
#work {
  background: rgb(22, 64, 118);
}
#life {
/*   background: #f2b635;*/
  background: rgb(32, 42, 54);
}


.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
  /* highest z-index when displayed.*/
  /* Change z-index to modal-guts which represents the clickable area of modal -bad idea. */
  z-index: 10;
}
.modal.closed {
 display: none;
}
.modal-guts {
  
  width: 100%;
  height: 90%;
  /* spacing around the edges of the modal box */
  padding: 20px;
  margin: 1%;
  /* let it scroll if message overflows the screen. */
}



/* Photo Gallery Styling */

.gallery {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.gallery-scroller {
  /* snap mandatory on horizontal axis  */
 scroll-snap-type: x mandatory;
 
 overflow-x: scroll;
 overflow-y: hidden;

 display: flex;
 align-items: center;

 height: 65vh;
 
 /* Enable Safari touch scrolling physics which is needed for scroll snap */
 -webkit-overflow-scrolling: touch;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  /* width */
  .gallery-scroller::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .gallery-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  .gallery-scroller::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  .gallery-scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* TODO: create semi-transparent prevPic and nextPic buttons to both sides of the gallery viewable area. */

.gallery-scroller div {
  scroll-snap-align: center;
  min-width: 100%;
  margin: 5vh auto;
  padding-right: 10px;
  position: relative;
}

.life.pic {
  max-width: 80vw;
  max-height: 50vh;
  border-radius: 10px;
}
.modal-overlay {
  /* use 2nd highest z-index to position behind modal*/
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #222;
}
.modal-overlay.closed {
  display: none;
}

.bottom-content {
  height: 70%;
}


.social-links {
  display: inline;
  color: #efeeed;
}
.section-headings {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em; /* 24px */
  margin: 0px;
  text-align: left;
}
#the-main-man {
  font-size: 1.5em;
}
.work.title {
    display: block;
  font-size: 1em;
  text-align: center;
}
.work.list {
  list-style-type: none;
  text-align: left;
  font-size: 0.75em;
}
.based-titles {
  position: relative;
  left: -15%;
  color: #efeeed;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: max-content;
  flex-direction: column;
  text-align: left;
  margin: 2% auto;
}


#funky-footer {
  position: fixed;
  bottom: 1%;
  left: 45%
}

.normal-header {
  font-size: 1.4em;
  position: fixed;
  left: 0;
  right: 0;
}
#positioner {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
.contactMe {
  font-size: 1em;
}
.contact-form {
  width: 95%;
  height: 85%;
  padding: 2% 5%;
  background: #efeeed;
  border-radius: 10px;
  overflow: hidden;
}
.contact-form input, .contact-form textarea {
  margin: 5px 10px;
  border-radius: 5px;
  border: hidden;
}
.contact-form textarea {
  display: block;  
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-height: 50%;
  overflow: hidden;
}
.section-bar ul {
  padding-inline-start: 5px;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

/* default styles below */
@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

